DB_USER=your_nick
DB_PASSWORD=your_pass

INVENTORY_DB=inventory-db
ORDERS_DB=orders-db
PAYMENTS_DB=payments-db

INVENTORY_DB_URL=postgresql://your_nick:your_pass@inventory-postgres:5432/inventory-db?sslmode=disable
ORDERS_DB_URL=postgresql://your_nick:your_pass@orders-postgres:5432/orders-db?sslmode=disable
PAYMENTS_DB_URL=postgresql://your_nick:your_pass@payments-postgres:5432/payments-db?sslmode=disable
